<div class="masthead-followup">
  <div class="container">
    <div class="row mb-5 pb-md-4 align-items-center">
      <div class="col-md-5">
        <div class="masthead-followup-icon d-inline-block mb-2 text-white bg-success">
          {{ partial "icons/code.svg" (dict "class" "masthead-followup-svg" "width" "32" "height" "32") }}
        </div>
        <h2>npm安装</h2>
        <p class="lead font-weight-normal">
          使用npm快速安装LazyUI
        </p>
      </div>
      <div class="col-md-7 pl-md-5">
      {{ highlight "npm install lazy-ui-webpack" "sh" "" }}
      </div>
    </div>

    <div class="row mb-5 pb-md-4 align-items-center">
      <div class="col-md-5">
        <div class="masthead-followup-icon d-inline-block mb-2 text-white bg-primary">
          {{ partial "icons/cloud-fill.svg" (dict "class" "masthead-followup-svg" "width" "32" "height" "32") }}
        </div>
        <h2>CDN</h2>
        <p class="lead font-weight-normal">
          引入CSS和JS
        </p>
      </div>
      <div class="col-md-7 pl-md-5">
        {{ highlight `<!-- 引入CSS -->
<link rel="stylesheet" href="https://unpkg.com/lazy-ui-webpack/dist/css/lazy-ui.min.css"></link>` "html" "" }}
        {{ highlight `<!-- 引入JS -->
<script src="https://unpkg.com/lazy-ui-webpack/dist/css/lazy-ui.min.js"></script>` "html" "" }}
      <div class="col-md-7 pl-md-5">
      </div>
    </div>

  </div>
</div>
