<main class="bd-masthead" id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto col-md-4 order-md-2">
        {{ partial "icons/bootstrap-stack.svg" (dict "class" "img-fluid mb-3 mb-md-0" "width" "512" "height" "430") }}
      </div>
      <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3">利用 LazyUI 构建快速、响应式的网站</h1>
        <p class="lead mb-4">
          LazyUI 支持 Sass 变量和 mixin、响应式栅格系统、自带大量组件和众多强大的 JavaScript 插件。基于 LazyUI 提供的功能，能够让你快速设计并定制你的网站。
        </p>
        <div class="d-flex flex-column flex-md-row">
          <a href="{{ $.Site.BaseURL }}/start" class="btn btn-lg btn-bd-primary mb-3 mr-md-3">快速入门</a>
          <a href="https://github.com/xxmd/lazy-ui/archive/refs/heads/master.zip" class="btn btn-lg btn-outline-secondary mb-3");>下载 LazyUI</a>
        </div>
      </div>
    </div>
  </div>
</main>
