{{- $id := .Get "id" -}}
{{- $class := .Get "class" -}}
{{- $input := .Inner -}}
{{- $html := replaceRE `<template[^>]*?>(?:.|\n)*?<\/template>` "" .Inner -}}
{{- $template := replace $input (trim $html "\n") "" -}}
{{- $js := replaceRE `</?template>` "" $template -}}

<div{{ with $id }} id="{{ . }}"{{ end }} class="bd-example{{ with $class }} {{ . }}{{ end }}">
{{- safeHTML $html -}}
</div>

{{- highlight (trim .Inner "\n") "js" -}}

<script src="/dist/js/lazy-ui.min.js"></script>
<script>
  {{ safeJS $js }}
</script>
