{{- $id := .Get "id" -}}
{{- $class := .Get "class" -}}
{{- $input := .Inner -}}
{{- $html := replaceRE `<template>(?:.|\n)*?<\/template>` "" .Inner -}}
{{- $template := index (findRE `(?s)<template.*?>.*?</template>` .Inner) 0 -}}
{{- $js := replaceRE `</?template>` "" $template -}}

<div{{ with $id }} id="{{ . }}"{{ end }} class="bd-example{{ with $class }} {{ . }}{{ end }}">
{{- safeHTML $html -}}
</div>

{{- highlight (trim .Inner "\n") "js" -}}

<script src="{{ $.Site.BaseURL }}/dist/js/lazy-ui.min.js"></script>
<script>{{ safeJS $js }}</script>
